*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.hlogo,
.hlinks,
.content,
.placeholder{
    display: inline-block;
    
}
.header{
    background: #1F2937;
    color: white;
    height: 500px;
    position: static;
}
.random{
    
    height: 500px;
    
}
.quote{
    background: #e5e7eb;
    color: black;
    height: 500px;
   
}
   
    
.footer{
   
    height: 400px;
    
}
.end{
    height: 100px;
    background: #1F2937;
    color: white; 
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;

}
.hlogo{
    background: #1F2937 ;
    position: relative;
    float: left;
    left: 140px;
    margin-top: 15px;
}
.hlinks{
    float: right;
    background: #1F2937;
    display: block;
    position: relative;
    right: 20%;
    
    
   
    
}
ul{
    list-style-type: none;
    
    
    
    
}
li{
    float: left;
   
}
li a{
    display: block;
    padding: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
    


}
.content{
    height: 400px;
    width: 500px;
    padding: 50px;
    padding-top: 130px;
    background: #1F2937;
   
}
.font{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.placeholder{
    background: rgb(133, 131, 128);
    position: relative;
    margin: 0;
    padding: 120px;
    margin: 80px 60px 50px 20px;
    bottom: 20%;
    left:20%;
    display: inline-block;
}
   
.button{
    padding: 10px 20px 10px 20px;
    
    border-radius: 20px;
    color: white;
    background: blue;
}
.prand{
    text-align: center;
    margin-top: 40px;
    font-weight:bolder;
    font-size: 35px;
}
.boxes{
    margin: 0px auto;
    display:flex;
    justify-content: center;
    
}
.box{
    width: 150px;
    height: 150px;
    border: 5px solid #0f6be3;
    border-radius: 15px;
    
    margin:  30px;
    padding: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: inline-block;
}
.txt{
    margin-top: 150px;
}
.thor{
    position: relative;
    margin: auto;
    width: 850px;
    height: 400px;
    padding: 100px;
    top: 50px;
    justify-content: center;
}
.big{
    font-size: 31px;
    font-style:italic
      
}
.small{
    float: right;
    font-weight: bold;
}
.enote{
    background: #0f6be3;
    color: white;
    height:160px;
    width:950px;
    margin: 200px auto;
    padding: 40px;
    border-radius: 10px;
    
}
.ebutton{
    color: white;
    background: #0f6be3;
    border-color: white;
    border-radius: 5px;
    float: right;
    padding: 5px 10px;
    width: 100px;
}